<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="monitor" type="IisMonitor.MonitorConfigurationSection, IisMonitor"/>
	</configSections>

	<appSettings>
		<add key="Name" value="IIS-Monitor"/>
		<add key="MaxDegreeOfParallelism" value="1"/>
		<add key="Ip" value="127.0.0.1"/>
		<add key="Timeout" value="150000"/>
		<add key="AppCmd" value="C:\Windows\System32\inetsrv\appcmd.exe"/>
		<add key="To" value="arabasso@yahoo.com.br"/>
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="arabasso@yahoo.com.br">
				<network host="smtp.mail.yahoo.com" port="587" userName="arabasso@yahoo.com.br" password="123" />
			</smtp>
		</mailSettings>
	</system.net>

	<monitor>
		<skip>
			<!--<add uri="http://127.0.0.1/" />-->
		</skip>
	</monitor>
</configuration>